includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon

parameters:
    level: max
    ignoreErrors:
        - identifier: missingType.generics
    paths:
        - src
        - tests
    excludePaths:
        - src/Resources/skeleton
        - vendor/
