includes:
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-beberlei-assert/extension.neon

parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    excludePaths:
        - src/Resources/skeleton
        - vendor/
