includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    checkGenericClassInNonGenericObjectType: false
    paths:
        - src
        - tests
    excludePaths:
        - vendor/
