<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="../vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <testsuites>
        <testsuite name="main">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>
    <logging/>
</phpunit>
