services:
    GeekCell\DddBundle\EventSubscriber\FacadeSetupSubscriber:
        arguments:
            - '@kernel'
        tags:
            - { name: kernel.event_subscriber }

    GeekCell\Ddd\Contracts\Application\CommandBus:
        class: GeekCell\DddBundle\Infrastructure\Messenger\CommandBus
        arguments:
            - '@Symfony\Component\Messenger\MessageBusInterface'
        public: true

    GeekCell\Ddd\Contracts\Application\QueryBus:
        class: GeekCell\DddBundle\Infrastructure\Messenger\QueryBus
        arguments:
            - '@Symfony\Component\Messenger\MessageBusInterface'
        public: true

    GeekCell\DddBundle\Maker\MakeModel:
        class: GeekCell\DddBundle\Maker\MakeModel
        arguments:
            - '@GeekCell\DddBundle\Maker\Doctrine\DoctrineConfigUpdater'
            - '@maker.file_manager'
        tags:
            - { name: maker.command }

    maker.maker.make_model:
        alias: GeekCell\DddBundle\Maker\MakeModel
        public: true

    GeekCell\DddBundle\Maker\Doctrine\DoctrineConfigUpdater:
        class: GeekCell\DddBundle\Maker\Doctrine\DoctrineConfigUpdater
        public: false
